*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e4e1b0;
    background-image: url("../img/fondo-achicado.png");
}


/*---------------------------------------------------------- BARRA DE LOGIN ---------------------------------------------------------*/
.fondoindex{
    width: 100%;
    height: 40px;
    background: #913a48;
    border-bottom: 2px wavy #53222a;
    margin: 0;
    padding: 0 10px 0 0;

}
.fondoindex a{
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.nav-item a img{
    width: 30px;
    height: 40px;
    background-color: #913a48;
    border: none;
    cursor: pointer;
}
.nav-item a img:focus{
    outline: none;
}
/*---------------------------------------------PORTADA---------------------------------------------*/
.container-portada{
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url("../img/portada.png ");
    background-size: 100%;
    background-repeat: no-repeat;
    animation: movimiento 45s infinite linear alternate;
}

@keyframes movimiento{
    from{
        background-position: left bottom;
    }to{
        background-position: top right;
    }
}

.capa-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, #66d7d1, #eaf2e3);
    opacity: 0.5;
}

.container-detalle{
    width: 100%;
    max-width: 1000px; 
    position: relative;   
    margin: auto;
}
.detalle{
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 20px;
    left: 10px;
    color: black;
}
.detalle h1{
    font-size: 40px;
    font-weight: 100;
}

.detalle p{
    margin-top: 10px;
    font-size: 20px;
}

.detalle button{
    padding: 10px 20px;
    font-size: 15px;
    background: #ff637d;
    border-style: none;
    border: 1px solid #913a48;
    color: white;
    margin-top: 20px;
    transition: background 300ms;
    cursor: pointer;
}

.detalle button:hover{
    background: #f38d9e;
    color: #53222a;

}

/*-----------------------------------------------------PRODUCTOS------------------------------------------------------------------*/
.main-content{
    margin-top:20px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.content-page{
    margin:auto;
    padding: 10px;
    width: 100%;
    max-width: 1180px;
}

.titulo-producto{
    padding: 10px 0;
    font-size: 20px;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.lista-productos{
    display: table;
    width: 100%;
}
.box-producto{
    display: inline-table;
    padding: 10px;
    width: 200px; 
    height: 400px;
}

.box-producto a{
    text-decoration: none;
}

.box-producto a:hover{
    text-decoration: none;
    color: #c9576a;
}
.producto{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 8px 35px #000;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.producto a{
    text-decoration: none;
}

.producto img{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
.detail-title{
    padding: 5px;
    font-size: 19px;
    color:black;
    width: calc(100% - 10px);
    height: 55px;
}
.description{
    font-size: 14px;
    color:black;
    padding: 5px;
    width: calc(100% - 10px);
    height: 60px;
}
.detalle-precio{
    font-size: 16px;
    color:black;
    padding: 5px;
    width: calc(100% - 10px);
}

.detalle-precio span{
    font-size: 12px;
}

.btn-agregar{
    width: 120px;
    height: 30px;
    border: 1px solid black;
    font-size: 20px;
    background: #ff637d;
    color: white;
    transition: background 300ms;
    padding: 3px 5px 3px 5px;
    text-align: center;
    margin: auto;
}
.btn-agregar:hover{
    background: #f38d9e;
    color: #7a5b60;
}

/*-----------------------------------------------------CARRITO----------------------------------------------------------*/
.btn-quitar{
    width: auto;
    height: auto;
    background: #84cdf7;
    color: black;
    border: 1px solid black;
    padding: 2px 4px 2px 4px;
    transition: background 300ms;
    text-align: center;
    
}
.btn-quitar:hover{
    background: #5295cc;
    color: #53222a;
    text-decoration: none;
}

.btn-comprar{
    width: auto;
    height: auto;
    background: #ff637d;
    border: 1px solid black;
    padding: 2px 4px 2px 4px;
    color: black;
    transition: background 300ms;
}
.btn-comprar:hover{
    background: #f38d9e;
    color: #53222a;
    text-decoration: none;
}
/*-----------------------------------------------------PROVEEDOR----------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------*/



h2 {
    font-family: 'Monoton', cursive;
    text-align: center;
  
    }

/*------------------------------------------------------- PROCESOLOGIN -------------------------------------------------------*/

.bienvenida{
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding:  10px 10px; 
}

#f1{

    height: 40px;
    color: darkslategray;
    font-size: 32px;
    text-align: center;
    margin: 0;
}

.error{
    background: white;
    color: red;
    border: 2px solid red;
    margin: auto;

}

    /*---------------------------------------------------LOGIN---------------------------------------------------*/
.form-login{
    width: 400px;
    height: 460px;
    background: #66d7d1;
    opacity: 0.8;
    border-top: 4px solid #fff87f;
    color: black;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 40px;
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Raleway', sans-serif;
    }

    .form-login p{
        height: 40px;
        text-align: center;
        
    }

    .form-login a{
        text-decoration: none;
        font-size: 14px;
        color: black;    
    }

    .form-login a:hover{
        text-decoration: underline;
        color: #e4e1b0;
    }

    .form-login h5{
        font-size: 25px;
        text-align: center;
        text-shadow: 3px 3px 3px #53222a;
        height: 40px;
        border-bottom: 1px solid;
        margin: 0;
        margin-bottom: 30px;
    }
   
    .buttons{
        width: 100%;
        height: 40px;
        background: #ff637d;
        justify-content: center;
        color: black;
        margin-bottom: 16px;
        border: 1px wavy black;
        border-radius: 20px 20px;
        transition: background 300ms;
    }
    
    .buttons:hover{
        background: #f38d9e;
        color: #53222a;
    }

    .controls {
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        background: #F4F1BB;
        margin-bottom: 15px;
        border: 1px solid #fff87f;
        border-radius: 30px 30px;
        padding: 11px 10px;
    }

    .controls:focus{
        outline: none;
    }

    /*CAPTCHA BOTON RECARGA*/
    #btn_recargar{
        width: 80px;
        height: auto;
        background: #ff637d;
        justify-content: center;
        color: black;
        margin-bottom: 16px;
        border: 1px wavy black;
        border-radius: 20px 20px;
        transition: background 300ms;
    }
    #btn_recargar:hover{
        background: #f38d9e;
        color: #53222a;
    }
    
    /*---------------------------------------------REGISTRARSE----------------------------------------------*/

    .form-login2{
        width: 600px;
        height: auto;
        background: #66d7d1;
        opacity: 0.8;
        color: white;
        border: 5px solid #ff637d;
        border-radius: 50px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: 7px 13px 37px #000;
        font-size: 15px;
        font-family: 'Advent Pro', sans-serif;
        font-family: 'Open Sans Condensed', sans-serif;
        font-family: 'Raleway', sans-serif;
    }
    
    .centrando{
        padding: 25px 25px 25px 25px;

    }
    .centrando h1{
        color: black;
        font-family: 'Advent Pro', sans-serif;
        font-family: 'Open Sans Condensed', sans-serif;
        
    }
    .centrando p{
        color: black;
    }


    .centrandoder{
        text-align: center;
        margin: auto;
    }

    .centrandoder p{
        color: black;

    }

    .centrandoder a{
        color: #157c74;
    }

    .centrandoder a:hover{
        color: #0d3f38;
    }

    .celda{
        width: 100%;
        background: #66d7d1;
        border: none;
        border-bottom: 2px solid #ff637d;
        cursor: pointer;
    }

    .celda:focus{
        outline: none;
    }

    #btn_recargar2{
        width: 150px;
        height: 40px;
        background: #ff637d;
        color: black;
        border: 1px solid #F4F1BB;
        margin:auto;
        margin-bottom: 16px;
        transition: background 300ms;
    }
    #btn_recargar2:hover{
        background: #f38d9e;
        color: #53222a;
    }

    /*---------------------------------------------RECUPERAR CONTRASEÑA---------------------------------------------*/

    .recuperando{
        width: 400px;
        height: 230px;
        background: #66d7d1;
        opacity: 0.8;
        border: 4px solid #ff637d;
        border-radius: 10%;
        margin: auto;
        margin-top: 20px;
        box-shadow: 7px 13px 37px #000;
        font-size: 14px;
        font-family: "Roboto", Sans-serif;
    }

    .recuperando p{
        color: black;
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
    }

    .controlsREG{
        width: 300px;
        background: #eaf2e3;
        border: 2px solid black;
        margin: 20px;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: bold;
        padding: 11px 10px;       
    }

    .buttons2{
        width: 150px;
        height: 40px;
        background: #ff637d;
        color: black;
        border: 1px solid #F4F1BB;
        margin:auto;
        margin-bottom: 16px;
        transition: background 300ms;
    }

    .buttons2:hover{
        background: #f38d9e;

    }
    .mostrarimg{
        display: inline-block;
        margin: 0;        
    }

    /*---------------------------------------------HEADER---------------------------------------------*/

.lindura{
    width: 100%;
    height: auto;
    background: #ff637d;
    color: black;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}


.lindura a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.lindura a:hover{
    color: #53222a;
    text-decoration: wavy;    
}

.dropdow-menu a{
    background: #dddbbb;
    color: black;
}

.dropdown-menu a:hover{
    background: #742b6d;
    color: white;
    transition: 400ms;
}
/*buscador*/


.search-place{
    /*width: calc(100% - 500px);*/
    padding: 2px 20px 1px 20px;
    height: 38px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    float: right;
}

.search-place input{
    font-size: 10px;
    font-size: 15px;
    background-color: #fefefe;
    border: 1px solid #ccc;
    width: (100% - 62px);
    font-family: 'Raleway', sans-serif;
}
.search-place input:focus{
    outline: none;
}

.search-place input:placeholder{
    color: #ccc;
    
}

.btn-main{
    padding: 7px;
    font-size: 15px;
    background-color: #fefefe;
    border-style: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

.btn-search{
    width: 40px;
}

/*-------------------------------------------------------------FOOTER---------------------------------------------------------------*/

.footer {
    position: relative;
}
#footer-area{
    padding: 90px 0 60px 0;
    background: #00948d;
    color: white;
    position: absolute;
    width: 100%;
    
}

.footer-social{
    margin-top: 20px;
}

.single-footer h3{
    font-weight: 500;
    margin-bottom: 25px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link-area li{
    padding: 10px 10px 10px 0;
    list-style: none;
}

.link-area li a{
    text-transform: capitalize;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link-area li a i{
    margin-right: 10px;
    color: #dddbbb;
}

.link-area{
    padding: 0;
}

.single-footer p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.single-footer li a{
    color: #f38d9e;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.single-footer li a:hover{
    color: #913a48;
    text-decoration: underline;
}


.widget li{
    float: left;
    width: 50%;
}

.widget li a img{
    margin-bottom: -10px;
    width: 80%;
    height: 100px;

}

.copyright-area{
    background: #00524e;
    padding: 30px 0;
    margin-top:  30px;
    border-radius: 5px;
}

.copyright-area p{
    font-weight: 600;
    color: white;
}
/*boton*/
.buttons3{
    width: auto;
    height: auto;
    background: #ff637d;
    opacity: 0.8;
    padding: 2px 2px 2px 2px;
    border: 1px solid #913a48;
    color: white;
    transition: background 300ms;
}

.buttons3:hover{
    background: #f38d9e;
    color: #913a48;
}
/*-----------------------------------------------------CONTACTO-----------------------------------------------------*/
.bordetexto{
    width: 65%;
    height: 20%;
    background: #dddbbb;
    opacity: 0.9;
    border: 2px solid #ff637d;
    border-radius: 400px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
}

.bordetexto p{
    text-align: center;
    font-size: 20px;
    color: black;
}

.bloquecontacto{
    width: 65%;
    height: 500px;
    background: #e4e1b0;
    opacity: 0.9;
    border: 2px solid #ff637d;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 7px 13px 37px #000;
}

.bloquecontacto p{
        color: #ff637d;
        margin: 30px;
        border-bottom: 1px solid #f38d9e;
        text-align: left;
        font-size: 30px;
        font-family: 'Balsamiq Sans', cursive;
        -webkit-text-stroke: 1px #c9576a;
        text-shadow: 5px 5px 7px #913a48;
}

.bloquecontacto a{
    color: #f38d9e;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    font-family: 'Passion One', cursive;
}

.bloquecontacto a:hover{
    color: #913a48;
    text-decoration: none;
}

/*----------------------------------------------------ACERCA DE-------------------------------------------------------*/

.fondo-ad{
    width: 100%;
    height: 60%;
    position: absolute;
    background: -webkit-linear-gradient(top, #66d7d1, #eaf2e3);
    opacity: 0.7;
    margin-bottom: 20px;
}

.conteiner-ad{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.ad{
    width: 100%;
    max-width: 800px;
    position: relative;
    top: 50px;
    color: black;
}

.ad h1{
    font-size: 40px;
    font-weight: 100;
}

.ad p{
    margin-top: 10px;
    font-size: 20px;
}


/*----------------------INTENTO DE RESOLUCION -------------------------*/

/*----------------------------------------------------TERMINOS Y PRIVACIDAD-------------------------------------------------------*/

.terminos{
    width: auto;
    height: auto;
    background: #609c48;
    color: white;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    font-weight: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

.terminos h3{
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

.texto{
    text-align: left;
}
 

/*-----------------------------------------------CAPTCHA--------------------------------------------------------------*/
